@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}


body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero {
    height: 100vh;
    background-image:  url(f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container {
    padding: 0;
}

ul, ol {
    list-style: none;
}

.nav {
    justify-content: flex-end;
    height:  70px;
    align-items: center;
    font-weight: 700;

    display: inline-block;
    list-style-type: none;
    margin-top: 25px;
}

.nav--footer {
    font-size: 300;
    justify-content: flex-start;
}

.nav__items {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.nav__items:hover{
    background-color: #FFFFFF;
    color: var(--color-primary);
}

.nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.6s ease;
    display: block;
}

.nav li a:hover{
    background-color: #FFFFFF;
    color: var(--color-primary);
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}


.nav__items--footer {
    padding: 10px;
}

.hero__container {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__bto {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.hero__texts {
    width: 80%;
    margin-bottom: 50px;
}

.hero__title {
    font-size: 3.2rem;
}

.hero__subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* Welcome */

.welcome {
    padding-top: 0;
    text-align: center;
}

.welcome__picture {
    width: 600px;
    height: 200px;
    margin-bottom: 10px;
    
}

.welcome__copy {
    width: 80%;
    margin: 0 auto;
}

/* News */
.news {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news__image {
    text-align: center;
}

.news__picture {
    width: 500px;
}

/* Activity */

.activity {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
}


.activity__image {
    text-align: center;
}

.activity__image--left{
    text-align: left;
}

.activity__picture {
    width: 500px;
}

.activity__bto {
    display: inline-block;
    background: var(--color-primary);
    padding: var(--boton-padding);
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
}

/* about */

.about {
    padding-top: 0;
    text-align: center;
}

.about__copy {
    width: 80%;
    margin: 0 auto;
}

/* Press */
.press {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.press__image {
    text-align: center;
}

.press__image--left{
    text-align: left;
}

.press__picture {
    width: 250px;
    height: 250px;
    border-radius: 70%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

/* pdf */
iframe{
    width: 80%;
    height: 90vh;
}

/* Footer */

.footer {
    background: var(--color-primary);
}

.footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
}

.footer__container-icons:hover{
    background: #FFFFFF;
    color: var(--color-primary);
}


.footer__icon {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
}

.fab.footer__icon {
    line-height: 60px;
}

